<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="component-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="component-modal-title"></span>
                    <span id="component-modal-type"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Some information about this component:</p>
                <span id="component-modal-ioputs"></span>
            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-primary">Done</button>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>