.connectiontable-table

  *
    padding: 4px 11px
    background-color: #fff

  td
    border-right: 1px dotted #cdcdcd
    text-align: center

    &:last-child
      border-right: none

  tr:hover td
    background-color: #f0f0f0

  tr:nth-child(odd)
    td
      background-color: #f3f3f3

    &:hover td
      background-color: #ededed

  tr
    &:first-child th
        border-bottom: 1px solid #aaa

  tr th
      &:first-child
        border-right: 1px solid #aaa


.internalConnectionButton
  *, &:focus, &:active
    outline: none

  background-color: #cacaca
  color: #cacaca
  border: none
  border-radius: 8px
  cursor: pointer
  width: 20px
  height: 20px
  padding: 0
  transition: all 100ms
  position: relative
  top: 2px

  &[data-isConnected='true']
    background-color: #454545
    color: #454545

  &:hover
    background-color: #848484
    color: #cacaca

  .fas
    background: none
    font-size: 11pt
    position: relative
    top: -3px
    left: -8px