$transition-time: 800ms

// Button for theme switcher
#theme-switch-button
  position: absolute
  top: 25px
  right: 10px

.theme-switch-button
  border: 1px solid black
  width: 50px
  height: 20px

// Theme itself
.dark-theme
  background-color: #101e3b
  color: #b9c3d8
  transition: background-color $transition-time
á
  .form-control
    background-color: #101e3b
    color: #b9c3d8
    transition: background-color $transition-time

  .component
    background-color: #243557 !important
    transition: background-color $transition-time