// https://www.w3schools.com/howto/howto_css_switch.asp

/* The switch - the box around the slider */
.pill-switch
  position: relative
  display: inline-block
  width: 38px
  height: 21px

  /* Hide default HTML checkbox */
  input
    opacity: 0
    width: 0
    height: 0

  /* The slider */
  .slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    -webkit-transition: .4s
    transition: .4s

    &:before
      position: absolute
      content: ""
      height: 17px
      width: 17px
      left: 2px
      bottom: 2px
      background-color: white
      -webkit-transition: .4s
      transition: .4s

    /* Rounded sliders */
    &.round
      border-radius: 34px

    &.round:before
      border-radius: 50%

  input[data-switchState='on'] + .slider
    background-color: #2196F3

  input:focus + .slider
    box-shadow: 0 0 1px #2196F3

  input[data-switchState='on'] + .slider:before
    transform: translateX(17px)
