body
  padding: 0 25px 25px

  & > div
    margin-right: 20px
    margin-bottom: 20px

div
  position: relative

#header-information
  float: right
  font-size: 7pt
  color: #bdbdbd

#footer
  font-size: 9pt
  color: #999
  text-align: right

#visualisation-wrapper
  width: 1000px
  display: inline-block
  vertical-align: top
  outline: none

  #visualisation
    width: 1000px
    height: 1000px
    position: relative
    overflow: hidden
    box-shadow: 0px 0px 0px 1px #aaa

    .component
      background: #fff no-repeat center center
      background-size: contain
      background-origin: content-box
      padding: 7px
      cursor: pointer
      position: absolute
      transition: all 50ms
      vertical-align: top

      &:hover
        opacity: 1 !important

      &.highlight-component
        box-shadow: 0 0 0 1px #64afff, 0 0 4px #64afff

      &.highlight-component-selected
        box-shadow: 0 0 0 2px #007bff, 0 0 9px -2px #004d9f

      .component-name
        background-color: #eeeeeeb0
        border: 1px solid #bfbfbf
        font-size: 8pt
        padding: 0px 6px 0px
        position: absolute
        left: 0
        top: 0
        border-radius: 10px
        text-shadow: 1px 0px #eee, 0px 1px #dfdfdf

  #scheme-info
    position: absolute
    top: 0
    left: 0
    color: #ddd
    font-size: 10pt
    margin: 5px 0 0 10px
    z-index: -1

  #canvas
    /*z-index: -1*/
    position: absolute
    top: 0
    left: 0
    margin: 0 auto

.visualisation-control
  display: inline-block

*[role="button"][data-toggle="collapse"]
  cursor: pointer

#component-modal-type
  font-size: 9pt
  font-style: italic

