
#component-templates
  max-width: 260px

  .component-template
    background: #fff no-repeat center center
    background-size: contain
    background-origin: content-box
    border: 1px solid #d5d5d5
    border-radius: 3px
    cursor: pointer
    display: inline-block
    height: 75px
    width: 75px
    margin: 5px
    padding: 7px
    transition: all 50ms

    &:hover
      box-shadow: 0 0 0 1px #c5c5c5